<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{% static 'application/compiled/app.css' %}">
        <title>Password reset confirm</title>
    </head>

    <body class="bg-gray-600">
      <!-- Main container to enable flexing on smaller devices. -->
      <div class="w-screen flex h-screen">
        <div class="w-5/6 m-auto">
          <!-- Container for all login components. -->
          <form
          class="p-4 max-w-md mx-auto bg-white rounded filter
          drop-shadow-lg" method="POST">
            {% csrf_token %}

            <!-- Container for logo image. -->
            <div class="container max-w-screen-lg mx-auto pb-3">
              <!-- Source the image from our static directory. -->
              <img class="mx-auto w-2/6 h-1/6"
              src="{% static 'application/logos/rwm-logo.png' %}"/>
            </div>

            <!-- Main header depicting application name. -->
            <h1 class="font-medium text-4xl text-center py-3 text-black">
              Set a new password
            </h1>

            <!-- Label attached to password input field. -->
            <label class="font-medium block mb-1 mt-6 text-gray-700"
            for="new_password1">
              New Password
            </label>

            <!-- Container for password input field and toggle controls. -->
            <div class="relative w-full">

              <!-- Container for positioning visibility vector. -->
              <div class="absolute inset-y-0 right-0 flex items-center px-2">
                <img src="{% static 'application/vectors/eye-invisible.svg' %}"
                class="cursor-pointer stroke-current text-gray-300 w-7 h-7 js-password-icon" id="toggle"
                onclick="togglePasswordEventHandler()"/>
              </div>

              <!-- Input field for password. -->
              <input cy="new_password1" input name = "new_password1" class="cursor-text appearance-none border-2 rounded w-full py-3 px-3
              leading-tight border-gray-300 bg-gray-100 focus:outline-none
              focus:border-blue-500 focus:bg-white text-gray-700 pr-16
              js-password" id="new_password1" type="password" autocomplete="off"
              />
            </div>

            <input type="hidden" name="next" value="{{ next }}"/>

              {% for error in form.new_password1.errors %}
              <div class="text-center text-red-400">
                <p class="text-danger">{{ error }}</p>
              </div>
              {% endfor %}

            <!-- Label attached to password2 input field. -->
            <label class="font-medium block mb-1 mt-6 text-gray-700"
            for="new_password2">
              Re-Enter New Password
            </label>

            <!-- Container for password2 input field and toggle controls. -->
            <div class="relative w-full">

              <!-- Container for positioning visibility vector. -->
              <div class="absolute inset-y-0 right-0 flex items-center px-2">
                <img src="{% static 'application/vectors/eye-invisible.svg' %}"
                class="cursor-pointer stroke-current text-gray-300 w-7 h-7 js-password-icon2" id="toggle"
                onclick="togglePasswordConfirmationEventHandler()"/>
              </div>

              <!-- Input field for password2. -->
              <input cy="new_password2" input name = "new_password2" class="cursor-text appearance-none border-2 rounded w-full py-3 px-3
              leading-tight border-gray-300 bg-gray-100 focus:outline-none
              focus:border-blue-500 focus:bg-white text-gray-700 pr-16
              js-password2" id="new_password2" type="password" autocomplete="off"
              />
            </div>

            <input type="hidden" name="next" value="{{ next }}" />
              <!-- Check for form errors. -->
              {% for error in form.new_password2.errors %}
              <div class="text-center text-red-400">
                <p class="text-danger">{{ error }}</p>
              </div>
              {% endfor %}

              <!-- Check for form errors. -->
              {% if form.non_field_errors %}
              <div class="text-center text-red-400">
                {% for error in form.non_field_errors %}
                  <p Passwords do not match </p>
                {% endfor %}
              </div>
              {% endif %}

            <!-- Button to trigger change password event. -->
            <div class="flex flex-col justify-center items-center">
              <button cy="change-password" button class="items-center cursor-pointer w-2/4 bg-rwmDarkBlue hover:bg-rwmOrange
              text-white font-medium py-3 px-4 mt-10 rounded focus:outline-none
              focus:shadow-outline transition duration-200" input type="submit">
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </body>
</html>

<!-- Required to be able to access static paths to vector assets. -->
<script>
  var invisible_eye_url = "{% static 'application/vectors/eye-invisible.svg' %}";
  var visible_eye_url = "{% static 'application/vectors/eye-visible.svg' %}";
  var invisible_eye_url2 = "{% static 'application/vectors/eye-invisible.svg' %}";
  var visible_eye_url2 = "{% static 'application/vectors/eye-visible.svg' %}";
</script>

<!-- Import default JS file. -->
<script type="text/javascript" src="{% static 'application/register.js' %}"></script>
