<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{% static 'application/compiled/app.css' %}">
        <title>Password Reset Complete</title>
    </head>

    <body class="bg-gray-600">
      <!-- Main container to enable flexing on smaller devices. -->
      <div class="w-screen flex h-screen">
        <div class="w-5/6 m-auto">
          <!-- Container for all login components. -->
          <form
          class="p-4 max-w-md mx-auto bg-white rounded filter
          drop-shadow-lg" method="POST">
            {% csrf_token %}

            <!-- Container for logo image. -->
            <div class="container max-w-screen-lg mx-auto pb-3">
              <!-- Source the image from our static directory. -->
              <img class="mx-auto w-2/6 h-1/6"
              src="{% static 'application/logos/rwm-logo.png' %}"/>
            </div>

            <!-- Main header depicting application name. -->
            <h1 class="font-medium text-4xl text-center py-3 text-black">
              Password Reset Complete
            </h1>
            <!-- Indicator that the password was set. -->
            <div class = "text-center"
              <p>Your new password has been set. </p>
            </div>

            <!-- Link to login page. -->
            <div class = "text-center"
               style="color:blue"> <p><a href={% url 'login' %}><u>Log in</a></u></p>
            </div>
          </form>
        </div>
      </div>
    </body>
</html>
